@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap');
*{
    font-family: Merriweather;
}
/* header releated styles */
.banner-container{
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
}
.banner-container, img{
    border-radius: 16px;
    margin: auto;
    width: 860px;
}
.bglinear{
    border-radius: 16px;
    position: absolute;
    background-image:
    linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url('images/background.jpg');
    width: 100%;
    height: 350px;
    background-size: cover;
}
.banner-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.greeting{
    margin-top: 0px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
}
.new-year-celebration{
    width: 410px;
    margin-top: 0px;
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    line-height: 60px;
}
/* banner info releated styles */
.red-off{
    margin-top: 100px;
    color: #F00;    
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0px;
}
.holiday{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.allcategories{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.div, .coloring-new-year{
    margin: auto;
    width: 500px;
}
/* midnight banner releated styles */
.midnight-party-banner{
    margin-bottom: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.midnight-img{
    margin-top: 80px;
}
.bg-linear-midnight{
    margin-top: 80px;
    border-radius: 16px;
    position: absolute;
    background-image:
    linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url('images/background.jpg');
    width: 860px;
    height: 390px;
    background-size: cover;

}
.group70-img{
    position: absolute;
    left: 58%;
    top: 25%;
    width: 240.83px;
    height: 324.662px;
}
.midnight-greeting{
    width: 500px;
    color: #FFF;
    font-size: 34px;
    font-weight: 900;
    line-height: 55px;
    letter-spacing: 7.04px;
    position: absolute;
    right: 40%;
    top: 20%;
}
.midnight-description{
    width: 480px;
    position: absolute;
    right: 41.5%;
    top: 50%;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
button{
    border: none;
    width: 100px;
    cursor: pointer;
    position: absolute;
    left: 25%;
    top: 75%;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
/* place date time releated css */
.place-date-time{
    border-radius: 16px;
    width: 750px;
    height: 300px;
    margin: auto;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
.place-time-info > h3 > span {
    color: #FF0000;
}
.place-time-info{
    margin: auto;
    width: 600px;
    text-align: center;
    justify-content: center;
    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-transform: capitalize;
}
.place-date-time{
    position: relative;
    padding: 60px;
}
.place-button{
    border: none;
    position: relative;
    left: 40%;
    top: 10%;
    background-color: #F00;
    color: #FFF;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    width: 150px;
    font-weight: 700;
    text-transform: uppercase;
}
/* circle section releated styles */
/* .circle-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.cirlce-offer-container{
    max-width: 860px;
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: column;

}
.twozero{
    position: relative;
    left: 900px;
    bottom: 450px;
}
.circle-img{
    position: relative;
    left: 530px;
    bottom: 200px;
}
.Elipse{
    padding: 20px;
    border: 10px solid #f00;
    border-radius: 50%;
    width: 200px;
}
.group96{
    width: 80px;
}
.comming-soon > h4{
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
}
.comming-soon > h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 9px;
    margin-bottom: 0px;
}
.comming-soon > p{
    width: 350px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}
.comming-soon{
    position: relative;
    left: 130px;
    right: 0px;
    top: 50px;
}
.twozero > h2{
    color: #F00;
    font-family: Inter;
    font-size: 35px;
    font-weight: 700;
}
.twozero > p{
    width: 200px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}
/* portfolio section releated styles */
.portfolio-section{
    box-sizing: border-box;
    max-width: 860px;
    margin: auto;
}
.portfolio-info > h4{
    margin-bottom: 0px;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.portfolio-info > h1{
    margin-bottom: 0px;
    margin-top: 5px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.portfolio-info > p{
    margin-bottom: 5px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
.portfolio-img-container > img{
    width: 250px;
    padding: 10px;
}
/* newsletter container releated styles */
.newsletter-container{
    max-width: 860px;
    margin: auto;
}
.newsletter-container > img{
    align-items: center;
    justify-content: center;
    width: 100px;
}
.newsletter-container h1{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.newsletter-container p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
}